/* Global Font Setting */
body, h1, h2, h3, h4, h5, h6, p, a, div, span, li, ul, ol, nav, footer, header, button {
    font-family: 'Poppins', sans-serif;
  }
/* Apply Nunito Sans font to all h4 elements */
.nunito {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 600; 
    color: #000f3a;       
}

/*** Spinner Start ***/
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}
/*** Spinner End ***/

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 10px;
    transition: 0.5s;
    z-index: 99;
}

/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-xl-square {
    width: 66px;
    height: 66px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square,
.btn-xl-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn.btn-primary {
    color: var(--bs-white);
}

.btn.btn-primary:hover {
    background: var(--bs-secondary);
    border: 1px solid var(--bs-secondary);
}

.btn.btn-secondary {
    color: var(--bs-white);
   
}

.btn.btn-secondary:hover {
    background: var(--bs-primary);
    border: 1px solid var(--bs-primary);
}
/*** Topbar Start ***/

/* Navbar */
.navbar-light {
    box-shadow: none;
    transition: box-shadow 0.3s ease-in-out, padding 0.3s ease-in-out;
    z-index: 1000;
    background: var(--bs-white);
}

.navbar-light.scrolled {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.navbar-light .navbar-nav .nav-link {
    position: relative;
    margin-right: 25px;
    padding: 35px 0;
    color: var(--bs-dark);
    font-size: 17px;
    font-weight: 400;
    outline: none;
    transition: .5s;
}

.navbar-light.scrolled .navbar-nav .nav-link {
    padding: 15px 0;
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.navbar-light.scrolled .navbar-brand img {
    max-height: 45px;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    vertical-align: middle;
    margin-left: 8px;
}

.dropdown .dropdown-menu a:hover {
    background: var(--bs-primary);
    color: var(--bs-white);
}

.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    background: var(--bs-light);
    transition: .5s;
    opacity: 1;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: fixed;
        background: var(--bs-white); /* Set background to solid color */
        width: 100%;
    }

    .navbar.navbar-expand-lg .navbar-toggler {
        padding: 10px 20px;
        border: 1px solid var(--bs-primary);
        color: var(--bs-primary);
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid rgba(0, 0, 0, .08);
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--bs-dark);
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        border: 0;
        border-radius: 10px;
        transition: .5s;
        opacity: 0;
    }

    .navbar-light {
        width: 100%;
        top: 0;
        left: 0;
        border-top: 0;
        border-right: 0;
        border-bottom: 1px solid;
        border-left: 0;
        border-style: dotted;
        z-index: 999;
        background-color: rgba(255, 255, 255, 0.884);
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: var(--bs-light);
        border: none;
    }

    .navbar-light .navbar-nav .nav-item::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--bs-primary);
        transition: .5s;
    }

    .sticky-top.navbar-light .navbar-nav .nav-item::before {
        bottom: 0;
    }

    .navbar-light .navbar-nav .nav-item::after {
        content: "";
        position: absolute;
        bottom: 1px;
        left: 50%;
        transform: translateX(-50%);
        border: 10px solid;
        border-color: transparent transparent var(--bs-primary) transparent;
        opacity: 0;
        transition: 0.5s;
    }

    .navbar-light .navbar-nav .nav-item:hover::after,
    .navbar-light .navbar-nav .nav-item.active::after {
        bottom: 1px;
        opacity: 1;
    }

    .navbar-light .navbar-nav .nav-item:hover::before,
    .navbar-light .navbar-nav .nav-item.active::before {
        width: calc(100% - 2px);
        left: 1px;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }
}

/*** Carousel Hero Header Start ***/
.carousel-header {
    position: relative;
    overflow: hidden;
    margin-top: 95px;
}

@media (max-width: 991.98px) {
    .carousel-header {
        margin-top: 70px; /* Sesuaikan dengan tinggi header pada perangkat mobile */
    }
}

.carousel-indicators {
    display: none;
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
    width: 0;
}

.carousel .carousel-control-prev .carousel-control-prev-icon,
.carousel .carousel-control-next .carousel-control-next-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 25px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bs-primary);
    transition: 0.5s;
}

.carousel .carousel-control-prev .carousel-control-prev-icon {
    left: 0;
    border-left: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 50px;
}

.carousel .carousel-control-next .carousel-control-next-icon {
    right: 0;
    border-right: 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 0;
}

.carousel .carousel-control-prev .carousel-control-prev-icon:hover,
.carousel .carousel-control-next .carousel-control-next-icon:hover {
    background: var(--bs-secondary);
}

.carousel .carousel-inner .carousel-item {
    position: relative;
}

.carousel .carousel-inner .carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.carousel .carousel-inner .carousel-item .carousel-caption-1,
.carousel .carousel-inner .carousel-item .carousel-caption-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.5));
    background-size: cover;
}

.carousel-caption-1-content,
.carousel-caption-2-content {
    text-align: center;
    padding: 0 20px;
}

.carousel-caption-1-content .carousel-caption-1-content-btn,
.carousel-caption-2-content .carousel-caption-2-content-btn {
    display: flex;
    justify-content: center;
}

@media (max-width: 992px) {
    .carousel .carousel-inner .carousel-item {
        height: auto;
    }

    .carousel .carousel-inner .carousel-item img {
        height: auto;
        object-fit: cover;
    }

    .carousel .carousel-control-prev .carousel-control-prev-icon,
    .carousel .carousel-control-next .carousel-control-next-icon {
        display: none;
    }
}

.modal .modal-header {
    height: 100px;
}

#searchModal .modal-content {
    background: rgba(255, 255, 255, .6);
}
/*** Carousel Hero Header End ***/

/*** Single Page Hero Header Start ***/
.bg-breadcrumb {
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgba(0, 20, 66, 0.7), rgba(0, 20, 66, 0.7)), url(../img/about/MCI_Breadcrumb.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 0 0;
    transition: 0.5s;
}

.bg-breadcrumb .breadcrumb {
    position: relative;
}

.bg-breadcrumb .breadcrumb .breadcrumb-item a {
    color: var(--bs-white);
}

@media (max-width: 992px) {
    .bg-breadcrumb {
        padding: 60px 0 0 0;
    }
}
/*** Single Page Hero Header End ***/

/*** About Start ***/
.about .about-img .about-exp {
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px;
    font-size: 30px;
    font-weight: bold;
    background: var(--bs-secondary);
    color: var(--bs-white);
    border: 1px solid var(--bs-secondary);
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 10px;
}
/*** About End ***/

/*** Counter Start ***/
.counter {
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgba(25, 64, 154, 0.9), rgba(25, 64, 154, 1)), url(../img/fact-bg.webp);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
}

.counter .counter-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.counter .counter-item .counter-item-icon {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: var(--bs-primary);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.counter .counter-item .ms-3 {
    margin-left: 20px;
}

.counter .counter-counting {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.counter .counter-counting span {
    margin-right: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .counter .counter-item {
        flex-direction: row;
        align-items: center;
        text-align: left;
        justify-content: flex-start;
    }

    .counter .counter-counting {
        justify-content: flex-start;
    }

    .counter .counter-item .ms-3 {
        margin-left: 10px;
    }
}

@media (max-width: 576px) {
    .counter .counter-item {
        flex-direction: row;
        align-items: center;
        text-align: left;
        justify-content: flex-start;
    }

    .counter .counter-counting {
        justify-content: flex-start;
    }

    .counter .counter-item .ms-3 {
        margin-left: 10px;
    }

    .counter .counter-item h4 {
        font-size: 1rem;
    }

    .counter .counter-counting span {
        font-size: 1.5rem;
    }
}
/*** Counter End ***/
/* Product Section */
.product {
    padding: 60px 0;
}

.product-item, .product-item-cf {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.product-item:hover, .product-item-cf:hover {
    transform: translateY(-10px);
}

.product-item img, .product-item-cf img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.product-item-cf .position-relative {
    position: relative;
}

.product-item-cf .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1; /* Always visible */
    transition: opacity 0.3s;
}

.product-item-cf .title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.product-content {
    padding: 20px;
    background-color: #c4fffc; /* Updated background color */
    border-radius: 0 0 8px 8px;
}

.product-content a.h4 {
    color: #343a40;
    text-decoration: none;
    transition: color 0.3s;
}

.product-content a.h4:hover {
    color: #007bff;
}

.product-content a.btn {
    background-color: #34a5dd; /* Default color */
    border-color: #34a5dd;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 50px;
    transition: background-color 0.3s, border-color 0.3s;
}

.product-content a.btn:hover {
    background-color: #19409a; /* Hover color */
    border-color: #19409a;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .product-item, .product-item-cf {
        margin-bottom: 30px;
    }

    .product-content {
        padding: 15px;
    }

    .product-content a.btn {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 576px) {
    .product {
        padding: 20px 10px;
    }

    .product-content {
        padding: 10px;
    }

    .product-content a.btn {
        font-size: 12px;
        padding: 6px 12px;
    }
}
/*** Blog Start ***/
.blog .blog-item {
    border-radius: 10px;
    background: var(--bs-light);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.blog .blog-item:hover {
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
}

.blog .blog-item .blog-img {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex-shrink: 0;
}

.blog .blog-item .blog-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.5s;
    z-index: 1;
}

.blog .blog-item .blog-img img {
    transition: 0.5s;
}

.blog .blog-item:hover .blog-img img {
    transform: scale(1.2);
}

.blog .blog-item:hover .blog-img::after {
    background: rgba(0, 209, 249, 0.2);
}

.blog .blog-item .blog-date {
    position: absolute;
    top: 25px;
    left: 25px;
    border-radius: 10px;
    background: var(--bs-primary);
    color: var(--bs-white);
    z-index: 2;
}

.blog .blog-item .blog-content {
    padding: 20px;
    flex-grow: 1;
}

.blog .blog-item .blog-content a {
    transition: 0.5s;
}

.blog .blog-item:hover .blog-content a:hover {
    color: var(--bs-primary) !important;
}

.blog .blog-item .blog-content p {
    margin-bottom: 20px;
}
/*** Blog End ***/

/* Team Section */
.team {
    padding: 60px 0;
    background-color: #f8f9fa;
}

.team-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    height: 350px; /* Fixed height for all team items */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team-item:hover {
    transform: translateY(-10px);
}

.team-item img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.team-item h4 {
    font-size: 1.5rem;
    font-weight: bold;
}

.team-item h5 {
    font-size: 1.2rem;
    color: #007bff;
}

.team-item p {
    font-size: 1rem;
    color: #555;
}

@media (max-width: 768px) {
    .team-item {
        margin-bottom: 30px;
        height: auto; /* Allow height to adjust on smaller screens */
    }

    .team-item img {
        margin-bottom: 15px;
    }

    .team-item h4 {
        font-size: 1.25rem;
    }

    .team-item h5 {
        font-size: 1rem;
    }

    .team-item p {
        font-size: 0.875rem;
    }
}
/* Team End */


/*** Footer Start ***/
.footer {
    background: #112961;
}

.footer .footer-item a {
    line-height: 35px;
    color: #acacac;
    transition: 0.5s;
}

.footer .footer-item p {
    line-height: 35px;
}

.footer .footer-item a:hover {
    letter-spacing: 1px;
    color: var(--bs-primary);
}

.footer .footer-item .footer-btn a,
.footer .footer-item .footer-btn a i {
    transition: 0.5s;
}

.footer .footer-item .footer-btn a:hover {
    background: var(--bs-white);
}

.footer .footer-item .footer-btn a:hover i {
    color: var(--bs-primary) !important;
}
/*** Footer End ***/

/*** copyright Start ***/
.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    background: var(--bs-dark);
}
/*** copyright end ***/

/* Start Pengaduan */
.table-bordered {
    color: black;
}

/* Flowchart Pengaduan*/
.box {
    background-color: #34a5dd; 
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px; 
    min-width: 150px; 
  }
  .arrow {
    display: inline-block;
    margin: 2rem; 
    font-size: 24px;
  }
  
  @media (max-width: 768px) {
    .flow-diagram {
      flex-direction: column;
    }
    .arrow {
      transform: rotate(90deg);
      margin: 10px 0;
    }
  }
  
  .display-3{
    font-size: 3rem;
  }
  
/* End Pengaduan */

/* General Styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.justify-text{
    text-align: justify;
  }
/* Tabungan Section */
.tabungan {
    padding: 60px 0;
    background-color: #f8f9fa;
}

.tabungan-item {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.tabungan-item h1,
.tabungan-item h4 {
    color: #343a40;
}

.tabungan-item .icon-hover {
    color: #007bff;
    transition: color 0.3s;
}

.tabungan-item .icon-hover:hover {
    color: #0056b3;
}

.img-fluid-produk {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Buttons */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .tabungan {
        padding: 30px 15px;
    }

    .tabungan-item {
        padding: 20px;
    }

    .tabungan-item h1 {
        font-size: 2rem;
    }

    .tabungan-item h4 {
        font-size: 1.25rem;
    }

    .btn-primary {
        font-size: 16px;
        padding: 8px 16px;
    }
}

@media (max-width: 576px) {
    .tabungan {
        padding: 20px 10px;
    }

    .tabungan-item {
        padding: 15px;
    }

    .tabungan-item h1 {
        font-size: 1.75rem;
    }

    .tabungan-item h4 {
        font-size: 1rem;
    }

    .btn-primary {
        font-size: 14px;
        padding: 6px 12px;
    }
}

.g-5{
    --bs-gutter-y: 0.5rem;
}

.container-item {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Simulasi Perhitungan */

table thead {
    background-color: white;
}
table tbody {
    display: block;
    max-height: 400px;  /* Atur tinggi sesuai kebutuhan */
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    background-color: white;
}
table tbody::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
table thead, table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
table th, table td {
    word-wrap: break-word;
    white-space: normal;
}
@media (max-width: 768px) {
    table thead, table tbody tr {
        display: block;
    }
    table tbody {
        max-height: none;
        overflow-y: visible;
    }
    table th, table td {
        display: block;
        width: 100%;
    }
    table thead {
        display: none;
    }
    table tbody tr {
        margin-bottom: 10px;
    }
    table tbody tr td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    table tbody tr td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}


/* styles.css */
.nav-tabs-custom .nav-link {
    border: 1px solid #ddd;
    margin-bottom: 5px;
    background-color: #f8f9fa;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #19409a; 
}

.nav-tabs-custom .nav-link:hover {
    background-color: #e9ecef;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.nav-tabs-custom .nav-link.active {
    background-color: #19409a;
    color: #fff; 
    border-color: #19409a #19409a #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
/* Form */
.form-label {
    font-size: 1.1rem;
    font-weight: 500;
    color: #19409a;
}

.form-control-lg {
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 1.1rem;
    border: 2px solid #34a5dd;
}

.btn-primary {
    background-color: #34a5dd;
    border-color: #34a5dd;
    color: #fff;
    padding: 10px 30px;
    font-size: 1.2rem;
    border-radius: 50px;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: #19409a;
    border-color: #19409a;
}

/* Result Box */
.result-box {
    background-color: #e0fffd;
    border: 2px solid #c4fffc;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-tabs .nav-item .nav-link {
        font-size: 1rem;
        padding: 8px 16px;
    }

    .form-control-lg {
        font-size: 1rem;
        padding: 8px 16px;
    }

    .btn-primary {
        font-size: 1rem;
        padding: 8px 20px;
    }
}
/* Simulasi Perhitungan End */



/* Laporan Keuangan */
.nav-tabs-custom .nav-link {
    border: 1px solid #ddd;
    margin-bottom: 5px;
    background-color: #f8f9fa;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #19409a; 
}

.nav-tabs-custom .nav-link:hover {
    background-color: #e9ecef;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.nav-tabs-custom .nav-link.active {
    background-color: #19409a; 
    color: #fff;
    border-color: #19409a #19409a #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* PDF Laporan Keuangan */
.pdf-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.pdf-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    max-width: 200px; 
}

.pdf-title {
    width: 100%;
    word-wrap: break-word;
    margin-top: 10px;
}

.pdf-item:hover {
    transform: translateY(-5px);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .pdf-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .pdf-item {
        max-width: 150px; /* Adjust the max-width for smaller screens */
    }
}

@media (max-width: 576px) {
    .pdf-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .pdf-item {
        max-width: 120px; /* Adjust the max-width for even smaller screens */
    }
}

/* BG 2 */
.background-index {
    background-color: #edfdff;
}

/* Berita Utama */
.berita-baru {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.berita-baru h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #004085;
}

.berita-baru .d-flex {
    margin-bottom: 0px;
}

.berita-baru img {
    border-radius: 10px;
    margin-bottom: 20px;
}

.berita-baru p {
    font-size: 1rem;
    line-height: 1.6;
}

/* Berita Lainnya */
.list-berita-lama {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.list-berita-lama h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #004085;
}

.list-berita-lama .list-group-item {
    border: none;
    padding: 15px 0;
    transition: transform 0.3s ease;
}

.list-berita-lama .list-group-item:hover {
    transform: scale(1.05);
}

.list-berita-lama .list-group-item img {
    border-radius: 5px;
    margin-right: 15px;
    transition: transform 0.3s ease;
}

.list-berita-lama .list-group-item img:hover {
    transform: scale(1.1);
}

.list-berita-lama .list-group-item a {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.list-berita-lama .list-group-item a:hover {
    color: #0056b3;
}

.list-berita-lama .btn {
    background-color: #34a5dd;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.list-berita-lama .btn:hover {
    background-color: #19409a;
}

/***** General Karir Section Styles *****/
.karir {
    background-color: #f8f9fa;
    padding: 50px 0;
}

.karir .karir-item {
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
}

.karir .karir-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/***** Karir Image Styles *****/
.karir .karir-img {
    position: relative;
    overflow: hidden;
}

.karir .karir-img img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    object-fit: cover;
}

.karir .karir-item:hover .karir-img img {
    transform: scale(1.1);
}

/***** Karir Date Styles *****/
.karir .karir-date {
    position: absolute;
    top: 15px;
    left: 15px;
    background: #0d6efd;
    color: #ffffff;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    z-index: 2;
}

/***** Karir Content Styles *****/
.karir .p-4 {
    padding: 20px;
    text-align: center;
}

.karir h5 {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 10px;
}

.karir p {
    font-size: 14px;
    color: #666666;
    margin: 0;
}

/***** Modal Styles *****/
.modal-content {
    background: transparent;
    border: none;
    box-shadow: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 90vh;
}

.modal-content img {
    max-width: 100%;
    max-height: 90vh;
    object-fit: contain;
    border-radius: 0.5rem;
}

.modal-dialog {
    margin: auto;
    width: 100%;
    max-width: 90%;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

/***** Close Button Styles *****/
.modal .btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #ffffff; 
    border: none;
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 1055;
    transition: opacity 0.3s ease;
}

.modal .btn-close:hover {
    opacity: 0.8;
}

/***** Responsive Adjustments *****/
@media (max-width: 768px) {
    .karir h5 {
        font-size: 16px;
    }

    .karir p {
        font-size: 12px;
    }

    .modal-dialog {
        max-width: 95%;
    }
}

@media (max-width: 576px) {
    .karir .karir-date {
        font-size: 12px;
        padding: 3px 8px;
    }
}

/*** Wakaf Start ***/

.icon-wakaf {
    color: #34a5dd;
    transition: color 0.3s;
}

.icon-wakaf:hover {
    color: #0056b3;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .row.g-3 > [class*='col-'] {
        flex: 0 0 50%;
        max-width: 50%;
        text-align: center;
    }

    .row.g-3 > .col-md-1,
    .row.g-3 > .col-md-2 {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }

    .row.g-3 > .col-md-1 i {
        transform: rotate(90deg);
    }

    .wakaf .wakaf-item {
        margin-bottom: 20px;
    }

    .wakaf .wakaf-item .wakaf-content {
        padding: 15px;
    }

    .wakaf .wakaf-item .wakaf-content p {
        margin-bottom: 10px;
    }

    .icon-wakaf {
        transform: rotate(90deg); /* Rotate the arrow icon */
    }
}

.wakaf .wakaf-item {
    border-radius: 10px;
    background: var(--bs-light);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.wakaf .wakaf-item:hover {
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
}

.wakaf .wakaf-item .wakaf-img {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex-shrink: 0;
    padding-top: 75%; /* 4:3 aspect ratio */
}

.wakaf .wakaf-item .wakaf-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container */
    transition: 0.5s;
}

.wakaf .wakaf-item:hover .wakaf-img img {
    transform: scale(1.2);
}

.wakaf .wakaf-item:hover .wakaf-img::after {
    background: rgba(0, 209, 249, 0.2);
}

.wakaf .wakaf-item .wakaf-date {
    position: absolute;
    top: 25px;
    left: 25px;
    border-radius: 10px;
    background: var(--bs-primary);
    color: var(--bs-white);
    z-index: 2;
}

.wakaf .wakaf-item .wakaf-content {
    padding: 20px;
    flex-grow: 1;
}

.wakaf .wakaf-item .wakaf-content a {
    transition: 0.5s;
}

.wakaf .wakaf-item:hover .wakaf-content a:hover {
    color: var(--bs-primary) !important;
}

.wakaf .wakaf-item .wakaf-content p {
    margin-bottom: 20px;
}

.wakaf-img-detail {
    max-height: 400px;
    object-fit: cover;
}
/*** Wakaf End ***/


/* Wakaf Detail */
.wakaf-baru,
.list-wakaf-lama {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wakaf-baru h1,
.list-wakaf-lama h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #004085;
}

.wakaf-baru .d-flex {
    margin-bottom: 0px;
}

.wakaf-baru img,
.list-wakaf-lama .list-group-item img {
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.wakaf-baru p,
.list-wakaf-lama .list-group-item a {
    font-size: 1rem;
    line-height: 1.6;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.list-wakaf-lama .list-group-item {
    border: none;
    padding: 15px 0;
    transition: transform 0.3s ease;
}

.list-wakaf-lama .list-group-item:hover {
    transform: scale(1.05);
}

.list-wakaf-lama .list-group-item img:hover {
    transform: scale(1.1);
}

.list-wakaf-lama .list-group-item a:hover {
    color: #0056b3;
}

.list-wakaf-lama .btn {
    background-color: #34a5dd;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.list-wakaf-lama .btn:hover {
    background-color: #19409a;
}

/*** Asset Start ***/
.asset .asset-item {
    border-radius: 10px;
    background: var(--bs-light);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 400px; /* Set a minimum height for the box */
}

.asset .asset-item:hover {
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
}

.asset .asset-item .asset-img {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex-shrink: 0;
    padding-top: 75%; /* 4:3 aspect ratio */
}

.asset .asset-item .asset-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container */
    transition: 0.5s;
}

.asset .asset-item:hover .asset-img img {
    transform: scale(1.2);
}

.asset .asset-item:hover .asset-img::after {
    background: rgba(0, 209, 249, 0.2);
}

.asset .asset-item .asset-content {
    padding: 20px;
    flex-grow: 1;
}

.asset .asset-item .asset-content a {
    transition: 0.5s;
}

.asset .asset-item:hover .asset-content a:hover {
    color: white !important;
}

.asset .asset-item .asset-content p {
    margin-bottom: 10px;
}
/*** Asset End ***/

/* form input simulasi pembiayaan */
#pembiayaanForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#pembiayaanForm .col-md-4 {
    flex: 1 1 30%;
    max-width: 30%;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    #pembiayaanForm .col-md-4 {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

/* form input simulasi pembiayaan end */

/***** General Penghargaan Section Styles *****/
.penghargaan {
    background-color: #f8f9fa;
    padding: 50px 0;
}

.penghargaan .penghargaan-item {
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.penghargaan .penghargaan-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/***** Penghargaan Image Styles *****/
.penghargaan .penghargaan-img {
    position: relative;
    overflow: hidden;
}

.penghargaan .penghargaan-img img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    object-fit: cover;
}

.penghargaan .penghargaan-item:hover .penghargaan-img img {
    transform: scale(1.1);
}

/***** Penghargaan Content Styles *****/
.penghargaan .p-4 {
    padding: 20px;
    text-align: center;
}

.penghargaan h5 {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 10px;
}

.penghargaan p {
    font-size: 14px;
    color: #666666;
    margin: 0;
}

/***** Modal Styles *****/
.modal-content {
    background: transparent;
    border: none;
    box-shadow: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 90vh;
}

.modal-content img {
    max-width: 100%;
    max-height: 90vh;
    object-fit: contain;
    border-radius: 0.5rem;
}

.modal-dialog {
    margin: auto;
    width: 100%;
    max-width: 90%;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

/***** Close Button Styles *****/
.modal .btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #ffffff; 
    border: none;
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 1055;
    transition: opacity 0.3s ease;
}

.modal .btn-close:hover {
    opacity: 0.8;
}

/***** Responsive Adjustments *****/
@media (max-width: 768px) {
    .penghargaan h5 {
        font-size: 16px;
    }

    .penghargaan p {
        font-size: 12px;
    }

    .modal-dialog {
        max-width: 95%;
    }
}

@media (max-width: 576px) {
    .penghargaan .penghargaan-date {
        font-size: 12px;
        padding: 3px 8px;
    }
}


/* Shadow Box Item */
.shadow-box {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Admin image */
.about-item {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-img img {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    max-width: 100%;
    height: auto;
}

.company-info {
    margin-top: 20px;
}

.company-info h4 {
    margin-bottom: 15px;
}

.company-info table {
    width: 100%;
    margin: 0 auto;
}

.company-info table td {
    padding: 5px 10px;
    vertical-align: top;
}

.company-info table td:first-child {
    width: 55%;
    font-weight: bold;
    color: #333;
}

.company-info table td.colon {
    width: 1%;
    white-space: nowrap;
}

.company-info table td:last-child {
    width: 100%;
}

@media (max-width: 767.98px) {
    .about-img img {
        float: none;
        margin: 0 auto 15px;
        display: block;
    }

    .company-info table {
        display: block;
        width: 100%;
    }

    .company-info table tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .company-info table td {
        display: block;
        width: 100%;
        text-align: left;
    }

    .company-info table td.colon {
        display: none;
    }

    .company-info table td:first-child {
        font-weight: bold;
        color: #333;
    }

    .company-info table td:last-child {
        margin-top: 5px;
    }
}